{% extends 'base.html.twig' %}

{% block title 'Projet ' ~ project.bathroomProjectName %}

{% block body %}
<div class="jumbotron">
    <div class="container">

        <a href="{{ path('projectBathroom.edit', {id: project.id}) }}" class="btn btn-secondary">Modifier</a>

        <form  method="post" action="{{ path('projectBathroom.delete', {id: project.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous vraiment sure?')">
            <!-- Fonctionnalité de symfony permettant de donner une méthode différante de la methode post, on mettra une methode DELETE -->
            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger">Supprimer</button>
        </form>
        
        <h1>Projet {{project.bathroomProjectName}}<h1>
                Récapitulatif : <br>
                Surface {{project.bathroomArea}} m²<br>
                Hauteur sur plafond {{project.bathroomHeight}} m<br>
                Sol en {{project.groundType}}<br><br>

                {% if project.bathroomBath == 1 %}
                    Installation d'une baignoire<br>
                {% else %}
                     Pas d'installation de baignoire<br>
                {% endif %}

                {% if project.bathroomShower == 1 %}
                    Installation d'une douche<br>
                {% else %}
                     Pas d'installation de douche<br>
                {% endif %}

                {% if project.bathroomSink == 1 %}
                    Installation d'un évier<br>
                {% else %}
                     Pas d'installation de évier<br>
                {% endif %}

                {% if project.bathroomWc == 1 %}
                    Installation de toilettes<br>
                {% else %}
                     Pas d'installation de toilettes<br>
                {% endif %}
    </div>
</div>

{% include 'product/paint.index.html.twig' %}<br> 

{% if project.bathroomBath == 1 %}
    {% include 'product/bathtub.index.html.twig' %}<br>
{% endif %}

{% if project.bathroomShower == 1 %}
    {% include 'product/shower.index.html.twig' %}<br>
{% endif %}

{% if project.bathroomSink == 1 %}
    {% include 'product/sink.index.html.twig' %}<br>
{% endif %}

{% if project.bathroomWc == 1 %}
    {% include 'product/toilets.index.html.twig' %}<br>
{% endif %}
     
{% endblock %}
