{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
 
    <div class='container'> 
        {# Le 3 méthodes permettent d'afficher le formulaire, pour le modifier : config/packages/twig.yaml #}
        {{ form_start(form)}}
            <div class="row">
                {# Méthode form_row pour afficher le champs qui correspond à sa propriété #}
                <div class="col-md-4">{{form_row(form.username)}}</div>
                <div class="col-md-4">{{form_row(form.email)}}</div>
                <div class="col-md-4">{{form_row(form.password)}}</div>
            </div>
        {{ form_rest(form)}}
            <button class="btn btn-primary">{{button|default('S\'inscrire')}}</button>
        {{ form_end(form)}}

        Déjà inscrit?
        <a href="{{ path('member.login') }}">ici</a>
        
        </div>

{% endblock %}