{% extends 'base.html.twig' %}

{% block title 'Gérer les projets' %}

    {% block body %}
        <div
            class="container mt-4">

            <!-- Est-ce que j'ai un user sur APP? si ou il m'affiche le bouton de deconnexion -->
            {% if app.user %}
                <a href="{{ path('logout') }}" class="nav-link">Se déconnecter</a>
            {% endif %}

            <h1>Gérer les produits</h1>

            <!-- Pour toutes les actions ayant un message de confirmation -->
            {% for message in app.flashes('success')%}
                <div class="alert alert-success">{{message}}</div>
            {% endfor %}

        


        <div class="text-right">
            <!-- La route de la methode que l'on va utiliser -->
            <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Créer un nouveau produit</a>
        </div>


        <div class="row">
            <h1>Produits</h1>

            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.productName }}</td>
                            <td>
                                <!-- Création d'une nouvelle route qu'il faudra mettre en place dans le controller -->
                                <a href="{{ path('admin.product.edit', {id: product.id}) }}" class="btn btn-secondary">Editer</a>

                                    <form
                                    method="post" action="{{ path('admin.delete', {id: product.id}) }}" style="display: inline-block" method="post" onsubmit="return confirm('Etes-vous vraiment sure?')"> <!-- Fonctionnalité de symfony permettant de donner une méthode différante de la methode post, on mettra une methode DELETE -->
                                    <input name="_method" type="hidden" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
