{% extends 'base.html.twig' %}

{% block title 'Créer un produit' %}

{% block body %}
 
    <div class='container'> 
        {# Le 3 méthodes permettent d'afficher le formulaire, pour le modifier : config/packages/twig.yaml #}
        {{ form_start(form)}}
            <div class="row">
                {# Méthode form_row pour afficher le champs qui correspond à sa propriété #}
                <div class="col-md-8">{{form_row(form.productType)}}</div>
                <div class="col-md-8">{{form_row(form.productName)}}</div>
                <div class="col-md-8">{{form_row(form.productPrice)}}</div>
                <div class="col-md-8">{{form_row(form.productUrlImage)}}</div>
            </div>
        {{ form_rest(form)}}
            <button class="btn btn-primary">{{button|default('Créer')}}</button>
        {{ form_end(form)}}
        
        </div>

{% endblock %}